.page {
  font-family: "CabinetGrotesk", sans-serif;
}

.page__content {
  background-color: #f3f3f3;
  min-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
  max-height: 822px;
}
