.cards__list {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards__text {
  font-size: 20px;
  margin-bottom: 34px;
}

@media screen and (max-width: 675px) {
  .cards__list {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}
