.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
}

.modal__image {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.modal__footer {
  margin: 20px 0 0 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.modal__close-btn {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal__caption {
  font-size: 20px;
  margin: 0;
}

.modal__weather {
  font-size: 20px;
}

.modal__delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #ff0000;
  margin-right: 10px;
  font-size: 20px;
}
