.modal__content_type_image {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.modal__image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.modal__footer {
  margin: 10px 0 0 12px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.modal__close-btn {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal__caption {
  font-size: 20px;
  margin: 0;
}

.modal__weather {
  font-size: 20px;
}

.modal__delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #ff0000;
  margin-right: 10px;
  font-size: 20px;
}
