.menuModal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.menuModal__content {
  background-color: #fff;
  position: absolute;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  border-radius: 20px;
  height: 208px;
  width: 67%;
  top: 1%;
}

.menuModal__close-btn {
  position: relative;
}

.menuModal__elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
