.menuModal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1000; /* Ensure the modal is above other elements */
}

.modal_opened {
  visibility: visible;
}

.menuModal__content {
  background-color: #fff;
  position: absolute;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  border-radius: 20px;
  height: 208px;
  width: 67%;
  top: 1%;
}

.menuModal__close-btn {
  position: relative;
}

.menuModal__elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menuModal__sign-in,
.menuModal__sign-up {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

@media screen and (max-width: 675px) {
  .menuModal__content {
    width: 90%; /* Ensure consistent size for smaller screens */
    height: auto; /* Adjust height dynamically */
    max-height: 90%; /* Prevent overflow */
  }
}
